<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Mostrar imágenes</title>
	</head>
	<body>
		<%- include('../partials/nav.ejs') %>
		<h3>Imágenes subidas</h3>
		<div class="container d-flex">
			<% images.forEach( (image)=> { %>
			<div class="card m-2" style="width: 18rem">
				<h4><%= image.titulo.toUpperCase() %> - <%= image.date %></h4>
				<img
					class="card-img-top"
					style="height: 200px"
					src="<%= image.urlimagen %>"
					alt="<%= image.titulo %>"
				/>
			</div>
			<% }) %>
		</div>
	</body>
</html>
