<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script
			src="https://kit.fontawesome.com/ff55efd140.js"
			crossorigin="anonymous"
		></script>
		<title>Mostrar imágenes</title>
	</head>
	<body>
		<%- include('../includes/nav.ejs') %>
		<div class="px-4 pt-5 my-2 text-center border-bottom">
			<h1 class="display-4 fw-bold">Your images</h1>
			<div class="col-lg-6 mx-auto">
				<div
					class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5"
				></div>
			</div>
		</div>
		<div
			class="container mb-4 d-flex flex-wrap align-items-center justify-content-center"
		>
			<div class="row">
				<% images.forEach( (image)=> { %>
				<div class="col">
					<div
						class="card p-2 m-2 text-center"
						style="width: 18rem"
						id="<%= image.id %>"
					>
						<h4><%= image.title.toUpperCase() %></h4>
						<h6 class="small"><%= image.date %></h6>
						<img
							class="card-img-top"
							style="height: 200px"
							src="<%= image.imageFile %>"
							alt="<%= image.title %>"
						/>
						<h5
							class="p-2"
							style="
								background-color: rgb(<%= image.dominantColor %>);
								color: <%= image.text %>;
							"
						>
							(<%= image.dominantColor %>)
						</h5>
						<div id="<%= image.id %>" class="controls m-2">
							<a
								class="btn btn-control btn-bg"
								href="/images/delete/<%=image._id%>"
								role="button"
								><i class="fas fa-trash"></i>
							</a>
							<a
								class="btn btn-control btn-bg"
								href="/images/edit/<%=image._id%>"
								role="button"
								><i class="fas fa-pencil-alt"></i>
							</a>
						</div>
					</div>
				</div>
				<% }) %>
			</div>
		</div>
	</body>
	<script>
		const cards = document.querySelectorAll('.card');
		cards.forEach(card =>
			card.addEventListener('click', e => {
				card.classList.toggle('visibility');
				const controlsDIV = document.querySelectorAll('.controls');
				for (const div of controlsDIV) {
					if (div.id == e.target.parentNode.id) {
						div.classList.replace('d-none', 'd-block');
					}
				}
			})
		);
	</script>
</html>
